<mat-card class="course-app"> </mat-card>
<div fxLayout="row wrap" class="course-app">
  <div fxFlex="100">
    <mat-card>
      <mat-card-header class="course-header">
        <mat-card-title> </mat-card-title>
      </mat-card-header>
      <mat-card-content class="text-center">
        <iframe
          src="https://forms.monday.com/forms/embed/82d64d368d9214f820bbea8495214817?r=use1"
          width="500"
          height="500"
          style="border: 0; box-shadow: 5px 5px 56px 0px rgba(0, 0, 0, 0.25)"
        ></iframe>
      </mat-card-content>
      <mat-card-actions class="text-center">
        <!-- <button mat-button>Start</button> -->
      </mat-card-actions>
    </mat-card>
  </div>
</div>
